.addNotice {
    position: relative;
    width: 100vw;
    height: 90vh;
}

.addNoticeBox {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    max-width: 700px;
}

.addNoticeBox select, .addNoticeBox input {
    width: 60%;
    height: 50px;
    margin: 30px;
    border: 0;
    border-radius: 15px;
    background-color: rgba(240, 248, 255, 0.514);
    font-size: 1.5rem;
    transition: 0.3s;
    cursor: pointer;
}

.addNoticeBox select:hover, .addNoticeBox input:hover {
    background-color: rgba(0, 0, 0, 0.514);
}

.addNoticeBox select:focus, .addNoticeBox input:focus {
    border: 1px solid var(--bcg-color);
    outline: 0;
    box-shadow: 0px 0px 5px 0px var(--bcg-color);
}

.addNoticeBox label {
    background-color: var(--bcg-color);
    padding: 5px;
    width: 40%;
    text-align: center;
    color: var(--text-color);
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: bold;
}

.addNoticeBox h1 {
    background-color: var(--bcg-color);
    color: var(--text-color);
    width: 70%;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
}

.addNoticeBox button {
    width: 30%;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 1.5rem;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.addNoticeBox button:hover {
    background-color: rgb(120, 179, 32);
    scale: 1.1;
}

.addNoticeBox .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 20%;
    background-color: var(--main-color);
    border: 3px solid var(--bcg-color);
    font-size: 1.6rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    z-index: 9;
}

@media (max-width: 768px) {
    .addNoticeBox {
        border-radius: 25px;
        height: 95%;
    }
    .addNoticeBox select, .addNoticeBox input {
        width: 70%;
    }
    .addNoticeBox label {
        width: 50%;
    }
    .addNoticeBox h1 {
        width: 90%;
    }
}