html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

.header {
    width: 100vw;
    height: 10vh;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
}

.navi {
    margin-left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 25px;
    text-align: center;
    line-height: 8vh;
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bold;
}

.navi:hover {
    background-color: var(--secondary-color);
}

.body {
    width: 100vw;
    height: 90vh;
}
